<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css"> 
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap">
    <script src="https://kit.fontawesome.com/756bd4d997.js/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>MERCADO LIEBRE</title>
</head>
<body>
    <header class="main-header">
     <div class="logo-leyenda">
           <div class="logo"><img src="./images/logo-mercado-liebre.svg" alt="" class="logo"></div>
              <div><input type="search" value="buscar productos, marcas ">
                <input type="submit">
                    <i class="fas fa-search"></i></div>
                     <div class="icono-leyenda"><h2><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>                    </div> 
            </div>               
           <nav> 
            <ul>
               <li><a href="/ofertas">Ofertas</a></li>
               <li><a href="/tiendasoficiales">Tiendas oficiales</a></li>   
               <li><a href="/vender">Vender</a></li>
               <li><a href="/ayuda">Ayuda</a></li>
           </ul> 
           <ul>      
               <li><a href="/register"> Creá tu cuenta <i class="far fa-id-card"></i></a></li>            
               <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
               <li><a href="/miscompras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul> 

        </nav>
               <div class="burguer-menu">      
                   <i class="fas fa-bars"></i>
               </div>
               <div class="foto"><img src="/images/img-home-banner.jpg" alt="" class="banner"></div>
    </header>
          
    <main>
   <div><h2><b> Basada en tu última visita</b></h2>
    <div class="producto">
        <div class="foto"><img src="/images/img-cafetera-moulinex.jpg" alt="" class="imagen"></div>
           <div class="texto">
              <div class="camioncito"><i class="fas fa-truck"></i></div>
                   <div class="preciodescuento">
                        <div><h3>$6.770</h3></div>
                          <div><h4>40% OFF</h4></div>
                         <h5>Cafetera Moulinex</h5></div>
                     </div>
                 </div>
            </div>   
    <div class="producto">
       <div class="foto"><img src="/images/img-macbook-pro-2019.jpg" alt= "" class="imagen">
        <div class="texto">
            <div class="camioncito">
               <i class="fas fa-truck"></i></div>
                    <div class="preciodescuento">
                        <div><h3>$230.000</h3></div>
                         <div><h4>20% OFF</h4></div>
                         <h5>MacBook Pro 2019</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto">
          <div class="foto"><img src="/images/img-samsung-galaxy-s10.jpg" alt= "" class="imagen">
             <div class="texto">
               <div class="camioncito">
                  <i class="fas fa-truck"></i></div>
                   <div class="preciodescuento">
                     <div><h3>$70.500</h3></div>
                      <div><h4>20% OFF</h4></div>
                       <h5>Samsung Galxy S10</h5>
                  </div>
             </div>
        </div>
    </div>
       <div class="producto">
         <div><img src="/images/img-tv-samsung-smart.jpg" alt= "" class="imagen">
          <div class="texto">
            <div class="camioncito">
              <i class="fas fa-truck"></i></div>
                 <div class="preciodescuento">
                      <div><h3>$23.200</h3></div>
                       <div><h4>5% OFF</h4></div>
                         <h5>Smart TV Samnsung 43"</h5>
                    </div>    
               </div>
          </div>
       </div>
        <div><h2>Sección de Ofertas</h2> 
          <div class="producto">
            <div> <img src="/images/img-cafetera-moulinex.jpg" alt= "" class="imagen">
              <div class="texto">
               <div class="camioncito">
                  <i class="fas fa-truck"></i></div>
                     <div class="preciodescuento">
                          <div><h3>$6.770</h3></div>
                            <div><h4>40% OFF</h4></div>
                          <h5>Cafetera Moulinex</h5>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto">
        <div><img src="/images/img-macbook-pro-2019.jpg" alt= "" class="imagen">
          <div class="texto">
            <div class="camioncito">
                <i class="fas fa-truck"></i></div>
                   <div class="preciodescuento"> 
                       <div><h3>$230.000</h3></div>
                         <div><h4>20% OFF</h4></div>
                      <h5>MacBook Pro 2019</h5>
                    </div>
                 </div>
              </div>
           </div>
         </div>
         <div class="producto">
          <div><img src="/images/img-samsung-galaxy-s10.jpg" alt= ""class="imagen">
            <div class="texto">
              <div class="camioncito">
                <i class="fas fa-truck"></i></div>
                   <div class="preciodescuento"> 
                      <div><h3>$70.500</h3></div>
                        <div><h4>20% OFF</h4></div>
                         <h5>Samsung Galxy S10</h5>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="producto">
          <div><img src="/images/img-tv-samsung-smart.jpg" alt= "" class="imagen">
            <div class="texto">
              <div class="camioncito">
                 <i class="fas fa-truck"></i></div>
                    <div class="preciodescuento"> 
                         <div><h3>$23.200</h3></div>
                           <div><h4>5% OFF</h4></div>
                           <h5>Smart TV Samnsung 43"</h5>
                       </div>
                     </div>
                   </div> 
                </div> 
             </div>
       </main>
<footer>
  <div class="tarjeta-regalos-otros">
         <div class="tarjeta">
           <i class="fas fa-credit-card"></i>                   
                     <h3>Pagá con tarjeta o en efectivo</h3>
                     <h6>Con Mercado Liebre Cash, tenés cuotas sin</h6>
                     <h6> interés con tarjeta o efectivo en puntos de </h6>
                     <h6>pago. ¡Y siempre es seguro!</h6>
               </div>
          <div class="regalo">
                <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <h6>Solo por estar registrad@ en Mercado Liebre</h6> 
                    <h6>tenés envíos gratis en miles de productos. Es</h6>
                    <h6>un beneficio de Mercado Puntos.</h6>
               </div>
           <div class="seguridad">
                <i class="fas fa-user-shield"></i>
                   <h3>Seguridad, de principio a fin</h3>
                   <h6>¿No te gusta? ¡Devolvelo! En Mercado Liebre</h6>
                   <h6>no hay nada que no puedas hacer porque estás</h6>
                   <h6>siempre protegid@</h6>
               </div>
  <div class="piedepagina">
              <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
  </div>
  </div>
    </footer>
</body>
</html>